<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
       <section>
        <h1>
            Sportmate
        </h1>
        <p>A site that will help you connect with people to play tennis</p>
       </section>  
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->