<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
       
            <!-- form handling -->
            <form action="/home" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                     
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->