<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportmate</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- Header -->
    <header id = "header">
        <nav class="navbar navbar-expand-lg navbar-blue bg-light">
          <a class="navbar-brand" href="home">Sportmate</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <a class="nav-link" href="map">Map</a>                        
                <!--
                <% if(user) { %>
                  <a class="nav-link" href="/">Players</a>
                  <a class="nav-link" href="logout"> <%= user.email %> (Logout) </a> <%
                  }%> <% if(!user) { %>
                  <a class="nav-link" href="login"> Login </a>
                  <a class="nav-link" href="join"> Register </a>
                  <% } %>
                  -->

                  
                    <a class="nav-link" href="/">Players</a>
                    <a class="nav-link" href="logout"> </a>
                    
                    <a class="nav-link" href="login"> Login </a>
                    <a class="nav-link" href="join"> Register </a>
                    
              </li>
            </ul>
          </div>
        </nav>
        </header>
    <!-- /Header -->
